@page "/component"
@using BlazorUtils.Interfaces.EventArgs

<h1>Hello, world!</h1>
<LMTPagination nextText=">>" previousText="<<" cur="4" total="10" show="6" lastText="Last page" firstText="First page" onpagechange=@OnPageChange />

@functions
{

protected override async Task OnAfterRenderAsync()
{
}

private void OnPageChange(LMTPageChangedEventArgs e)
{
    Console.WriteLine("Previous page: " + e.Cur);
    Console.WriteLine("Next page: " + e.Next);
}
}
