@page "/cookie"

<div class="CookieTesting">
    <h1>Hello, world!</h1>
    <h2>Submit cookie key, value, days expire and path: </h2>
    <div>
        <Input type="text" name="key" />
    </div>
    <div>
        <Input type="text" name="val" />
    </div>
    <div>
        <Input type="text" name="days" />
    </div>
    <div>
        <Input type="text" name="path" />
    </div>

    <div>
        <button onclick=@AddCookie>Submit</button>
    </div>
    <div>
        <button onclick=@RemoveAllCookies>RemoveAll</button>
    </div>
</div>
@functions
{

    protected override async Task OnAfterRenderAsync()
    {
    }

    private void AddCookie()
    {
        var key = _(".CookieTesting [name=key]").Val();
        var val = _(".CookieTesting [name=val]").Val();
        var days = _(".CookieTesting [name=days]").Val();
        var path = _(".CookieTesting [name=path]").Val();

        SetCookie(new Interfaces.Cookie.Cookie(key, val, int.Parse(days), path));
    }
}
