@page "/dev"
@using BlazorUtils.WebTest._0._5.Models

<button onclick="@(() => {student.Age += 7; })">Click to add student with 7!</button>

@functions{
    Student student;

    protected override void OnInit()
    {
        base.OnInit();

        student = new Student
        {
            Age = 5,
            IsMale = true,
            StudentId = "12345",
            StudentName = "Nguyen Van A"
        };

        Dev.Map(student, "mappedStudent");

        Console.WriteLine("Done mapping");
    }
}