@page "/util"

<button onclick="@NavHandler">Click here to navigate to /dev</button>
<button onclick="@NavBingHandler">Click here to navigate to bing</button>

@functions{
    protected override void OnInit()
    {
        Dev.Warn(Eval<int>("5 + 7").ToString());
    }

    public void NavHandler()
    {
        NavigateTo("/dev");
    }

    public void NavBingHandler()
    {
        NavigateTo("https://bing.com");
    }
}