@using System.Text

@implements ILMTComponent

<div id="@id" style="@style">
    @ChildContent
</div>

@functions
{
    [Parameter]
    private string style { get; set; }

    [Parameter]
    private RenderFragment ChildContent { get; set; }

    public string id { get; set; } = $"lmt{Guid.NewGuid().ToString()}";

    private bool _isLocalized = false;

    protected override void OnAfterRender()
    {
        if (_isLocalized) return;
        _isLocalized = true;

        var dom = _("> style");

        var styleString = dom.Text().TrimEnd();
        if (string.IsNullOrEmpty(styleString)) return;
        var stringBuilder = new StringBuilder($"#{id} ");
        stringBuilder.Append(styleString.Substring(0, styleString.Length - 1).Replace("}", $"}} #{id}"));
        stringBuilder.Append("}");

        dom.Text(stringBuilder.ToString());
    }

    public Dom _(string selector) => new Dom($"#{id} {selector}");
}
